<div class="container fixed flex flex-col m-8 bg-white border-purple-100 rounded-lg shadow border-1 top-8 bottom-4">

  <div class="flex justify-between px-2 text-lg text-center bg-purple-800 rounded-t-lg">
    <a *ngIf="project" [routerLink]="['/project-detail', project.id]"
      class="py-4 text-base text-purple-50 min-w-max">Edit
      Project: {{project.name}}</a>
  </div>

  <div class="h-full p-2 overflow-y-scroll">
    <form *ngIf="projectForm" [formGroup]="projectForm"
      class="grid items-baseline w-full grid-cols-12 p-3 space-x-2 space-y-4 text-sm text-blue-700">
      <!-- Name -->
      <div class="col-span-1 font-semibold text-right">Project Name</div>
      <div class="col-span-11">
        <input *ngIf="project"
          class="w-11/12 text-sm border-purple-500 rounded border-1 focus:border-purple-500 focus:ring-2 focus:ring-purple-500"
          type="text" formControlName="projectName" [value]="project.name" placeholder="{{project.name}}">
      </div>

      <!-- Workspace -->

      <div class="col-span-1 font-semibold text-right">Workspace</div>
      <div class="flex items-center col-span-4 space-x-1">
        <select aria-readonly="true" formControlName="workspace"
          class="w-1/2 h-8 px-4 py-2 pr-8 mr-2 text-xs leading-tight bg-white border border-gray-400 rounded shadow hover:border-gray-500 focus:outline-none focus:shadow-outline focus:border-purple-500 focus:ring-purple-500">
          <option *ngFor="let ws of existingWorkspaces" [ngValue]="ws">{{ws}}</option>
        </select>
      </div>

      <mat-form-field class="col-span-5 text-blue-800 focus:outline-none">
        <mat-label>Add to New Workspace</mat-label>
        <input matInput placeholder="Ex. Backend Services" formControlName="newWorkspaceValue">
      </mat-form-field>


      <div class="col-span-2"></div>

      <!-- Policy -->
      <div class="col-span-1 font-semibold text-right">Edit Policy</div>
      <!-- <div formGroupName="scanPolicy" class="flex flex-col w-full col-span-11 p-2 border-2 border-purple-200 rounded">
        <div class="flex items-center space-x-2">
          <div class="text-sm">Edit Advanced Exclusion Policy</div>
          <input type="checkbox" formControlName="configured" matTooltip="Edit scan allowlist policies"
            class="text-purple-500 border-purple-500 rounded focus:ring-0">
        </div>
        <div *ngIf="getPolicyConfigured() && project.ScanPolicy && project.ScanPolicy.Policy" class="w-full mt-2 mb-6">
          <ngx-codemirror formControlName="policy" [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: 'yaml'
    }"></ngx-codemirror>
        </div>
      </div> -->
    </form>
  </div>


  <!-- Submit -->
  <div class="grid grid-cols-12 p-2 bottom-2 bg-purple-50">
    <div class="col-span-11 bg-purple-50"> </div>
    <button mat-button (click)="updateProject()" class="text-xs text-blue-800 bg-yellow-300 hover:bg-red-400">
      <fa-icon class="text-lg text-blue-800" title="Save" [icon]="faSave">
      </fa-icon> <span class="ml-2 text-sm font-medium">Save</span>
    </button>
  </div>
</div>
